:root {
  --ion-background-color: #404040;
  --ion-background-color-rgb: 64, 64, 64;

  --ion-color-primary: #fecdaa;
  --ion-color-secondary: #fafac6;
  --ion-text-color: #fcffeb;
  --ion-text-color-rgb: 254, 205, 170;

  --ion-text-color-step-50: #f4c6a5;
  --ion-text-color-step-100: #ebbf9f;
  --ion-text-color-step-150: #e2b89a;
  --ion-text-color-step-200: #d8b195;
  --ion-text-color-step-250: #cfaa90;
  --ion-text-color-step-300: #c5a38a;
  --ion-text-color-step-350: #bc9c85;
  --ion-text-color-step-400: #b29580;
  --ion-text-color-step-450: #a98e7a;
  --ion-text-color-step-500: #9f8775;
  --ion-text-color-step-550: #967f70;
  --ion-text-color-step-600: #8c786a;
  --ion-text-color-step-650: #837165;
  --ion-text-color-step-700: #796a60;
  --ion-text-color-step-750: #70635b;
  --ion-text-color-step-800: #665c55;
  --ion-text-color-step-850: #5d5550;
  --ion-text-color-step-900: #534e4b;
  --ion-text-color-step-950: #4a4745;

  --ion-background-color-step-50: #4a4745;
  --ion-background-color-step-100: #534e4b;
  --ion-background-color-step-150: #5d5550;
  --ion-background-color-step-200: #665c55;
  --ion-background-color-step-250: #70635b;
  --ion-background-color-step-300: #796a60;
  --ion-background-color-step-350: #837165;
  --ion-background-color-step-400: #8c786a;
  --ion-background-color-step-450: #967f70;
  --ion-background-color-step-500: #9f8775;
  --ion-background-color-step-550: #a98e7a;
  --ion-background-color-step-600: #b29580;
  --ion-background-color-step-650: #bc9c85;
  --ion-background-color-step-700: #c5a38a;
  --ion-background-color-step-750: #cfaa90;
  --ion-background-color-step-800: #d8b195;
  --ion-background-color-step-850: #e2b89a;
  --ion-background-color-step-900: #ebbf9f;
  --ion-background-color-step-950: #f5c6a5;
}

h1 {
  font-weight: bolder;
  color: var(--ion-color-primary);
  font-size: clamp(2.2rem, 1.143vw + 1.971rem, 3rem);
}

p {
  font-weight: 900;
  font-size: 0.9rem;
}
